{%extends 'templates/layout.html' %}
{% block content %}
<!-- end of goole gauge -->
<div class="container" align="center">
<div class="wrapper1" align="center">
	<div class="g1-one" align="center">
		<h1> 양돈장 온도/습도 관리 시스템 </h1> 

		<div id="title"> Temperature & Humidity Room [405] </div>
		<div id="clock"> clock </div>
		<div id="stopbox">
			<button id="btnNoVac" onclick="btnExit()">동작정지</buttom>
		</div>
	</div>

	<div class="g1-two" align="center">
		<button>TWO</button>	
	</div>

	<div class="g1-three" align="center">
      <canvas id="gauge1" class='cssGauge' data-type="radial-gauge" data-value-box="true" data-width="200" data-height="200"></canvas>
	</div>

	<div class="g1-four" align="center">
		<div id="chart1">
			<svg style=" width:1024; height:200; "></svg>
		</div>
	</div>
	<div class="gi-five" align="center">
      <canvas id="gauge2" class='cssGauge' data-type="radial-gauge" data-value-box="true" data-width="200" data-height="200"></canvas>
	</div>
	<div class="g1-six" align="center">
		<div id="chart2">
			<svg style=" width:1024; height:200; "></svg>
		</div>
	</div>
</div><!-- wrapper1 -->
</div> <!-- container -->
{% endblock %}
