{%extends 'templates/layout.html' %}
{% block content %}
<!-- end of goole gauge -->
<div class="container" align="center">
<div class="wrapper1" align="center">
	<div class="g1-one" align="center">
		<h1> 양돈장 온도/습도 관리 시스템 </h1> 

		<div id="title"> Temperature & Humidity Room [405] </div>
		<div id="clock"> clock </div>
		<div id="stopbox">
			<button id="btnNoVac" onclick="btnExit()">동작정지</buttom>
		</div>
	</div>

	<div class="g1-two" align="center">
		<button>TWO</button>	
	</div>

	<div class="g1-three" align="center">
      <canvas id="gaugeTemp1" class='cssGauge' data-type="radial-gauge" data-value-box="true" data-width="200" data-height="200"></canvas>
	</div>
	<div class="g1-four" align="center">
		<div id="chartTemp">
			<svg style=" width:800; height:300; "></svg>
		</div>
	</div>
	<div class="g1-five" align="center">
      <canvas id="gaugeTemp2" class='cssGauge' data-type="radial-gauge" data-value-box="true" data-width="200" data-height="200"></canvas>
	</div>

	<div class="g1-six" align="center">
      <canvas id="gaugeHumi1" class='cssGauge' data-type="radial-gauge" data-value-box="true" data-width="200" data-height="200"></canvas>
	</div>

	<div class="g1-seven" align="center">
		<div id="chartHumi">
			<svg style=" width:800; height:300; "></svg>
		</div>
	</div>
	<div class="g1-eight" align="center">
      <canvas id="gaugeHumi2" class='cssGauge' data-type="radial-gauge" data-value-box="true" data-width="200" data-height="200"></canvas>
	</div>

	<div class="g1-nine" align="center">
	</div>
	<div class="g1-10th" align="center">
		<div id="chartHourTemp">
			<svg style=" width:800; height:300; "></svg>
		</div>
	</div>
	<div class="g1-11th" align="center">
	</div>

	<div class="g1-12th" align="center">
	</div>
	<div class="g1-13th" align="center">
		<div id="chartHourHumi">
			<svg style=" width:800; height:300; "></svg>
		</div>
	</div>
	<div class="g1-14th" align="center">
		<button id="btnTest1" onclick="btnTest1()">TEST1</buttom>
	</div>
</div><!-- wrapper1 -->
</div> <!-- container -->
{% endblock %}
